/*
 * Change theme F7
 * Blue as Blue AEFW
 */
.md .navbar,
.md .color-theme-blue .navbar,
.md .color-theme-blue.navbar,
.md .navbar.color-blue,
.md .toolbar,
.md .color-theme-blue .toolbar:not(.messagebar),
.md .color-theme-blue.toolbar:not(.messagebar),
.md .toolbar:not(.messagebar).color-blue,
.md .subnavbar,
.md .color-theme-blue .subnavbar,
.md .color-theme-blue.subnavbar,
.md .progressbar span,
.md .progressbar-infinite:after,
.md .progressbar-infinite:before,
.md .color-theme-blue .progressbar span,
.md .color-theme-blue .progressbar-infinite:after,
.md .color-theme-blue .progressbar-infinite:before,
.md .progressbar.color-blue span,
.md .progressbar-infinite.color-blue:after,
.md .progressbar-infinite.color-blue:before,
.md .timeline-horizontal .timeline-item-date,
.md .timeline-month-title,
.md .timeline-year-title,
.md .color-theme-blue .timeline-item-date,
.md .color-theme-blue .timeline-month-title,
.md .color-theme-blue .timeline-year-title,
.md .timeline.color-theme-blue .timeline-item-date,
.md .timeline.color-theme-blue .timeline-month-title,
.md .timeline.color-theme-blue .timeline-year-title,
.md .chip.color-blue,
.md .item-input-focused .item-input-wrap:after,
.md .color-theme-blue .item-input-focused .item-input-wrap:after,
.md .item-input-focused.color-blue .item-input-wrap:after,
.md .toggle input[type=checkbox]:checked+.toggle-icon:after,
.md .color-theme-blue .toggle input[type=checkbox]:checked+.toggle-icon:after,
.md .toggle.color-blue input[type=checkbox]:checked+.toggle-icon:after,
.md .range-bar-active,
.md .range-knob,
.md .range-knob-label,
.md .range-knob-label:before,
.md .calendar-header,
.md .calendar-day.calendar-day-has-events span:after,
.md .calendar-day.calendar-day-selected span,
.md .color-blue .calendar-header,
.md .color-theme-blue .calendar-header,
.md .color-blue .calendar-day.calendar-day-has-events span:after,
.md .color-theme-blue .calendar-day.calendar-day-has-events span:after,
.md .color-blue .calendar-day.calendar-day-selected span,
.md .color-theme-blue .calendar-day.calendar-day-selected span,
.md .fab-buttons a,
.md .fab>a,
.md .fab-morph,
.md .color-theme-blue .fab-buttons a,
.md .color-theme-blue .fab>a,
.md .color-theme-blue.fab-buttons a,
.md .color-theme-blue.fab>a,
.md .color-theme-blue .fab-morph,
.md .color-theme-blue.fab-morph,
.md .fab .fab-buttons>a.color-blue,
.md .fab-buttons.color-blue a,
.md .fab.color-blue .fab-buttons>a,
.md .fab.color-blue>a,
.md .fab>a.color-blue,
.md .fab-morph.color-blue,
.md .messagebar-attachment-delete,
.md .swiper-pagination-bullet-active,
.md .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
.md .color-blue .swiper-pagination-bullet-active,
.md .color-theme-blue .swiper-pagination-bullet-active,
.md .color-blue .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
.md .color-blue.swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
.md .color-theme-blue .swiper-pagination-progressbar .swiper-pagination-progressbar-fill,
.md .color-theme-blue.swiper-pagination-progressbar .swiper-pagination-progressbar-fill
{ background: #003eff; }
.md a,
.md .color-theme-blue a,
.md a.color-blue,
.md .subnavbar.color-blue,
.md .color-theme-blue .list-button,
.md .links-list a.color-blue,
.md .links-list li.color-blue a,
.md .list .item-link.color-blue,
.md .list .list-button.color-blue,
.md .list li.color-blue .item-link,
.md .list li.color-blue .list-button,
.md .simple-list li.color-blue,
.md .button,
.md .color-blue .button,
.md .color-theme-blue .button,
.md .color-blue .button.button-outline,
.md .color-theme-blue .button.button-outline,
.md .icon.color-blue,
.md .dialog-button,
.md .dialog-button.color-blue,
.md .login-screen-content .list-button,
.md .color-theme-blue .login-screen-content .list-button,
.md .login-screen-content .list-button.color-blue,
.md .actions-button.color-blue,
.md .actions-button.color-blue .actions-button-text,
.md .actions-label.color-blue,
.md .card-footer a.link,
.md .card-header a.link,
.md .card-footer.color-theme-blue a.link,
.md .card-header.color-theme-blue a.link,
.md .color-theme-blue .card-footer a.link,
.md .color-theme-blue .card-header a.link,
.md .card-footer a.link.color-blue,
.md .card-header a.link.color-blue,
.md .item-input-focused .item-floating-label,
.md .item-input-focused .item-label,
.md .color-theme-blue .item-input-focused .item-floating-label,
.md .color-theme-blue .item-input-focused .item-label,
.md .item-input-focused.color-blue .item-floating-label,
.md .item-input-focused.color-blue .item-label,
.md .calendar-day.calendar-day-today span,
.md .color-blue .calendar-day.calendar-day-today span,
.md .color-theme-blue .calendar-day.calendar-day-today span,
.md .data-table-title-selected,
.md .color-blue .data-table-title-selected,
.md .color-theme-blue .data-table-title-selected,
.md .notification-title,
.md .text-color-blue
{ color: #003eff; }
.md .badge.color-blue,
.md .button.button-active,
.md .button.button-fill,
.md .button.button-fill-md,
.md .button.tab-link-active,
.md .color-blue .button.button-active,
.md .color-blue .button.button-fill,
.md .color-blue .button.button-fill-md,
.md .color-blue .button.tab-link-active,
.md .color-theme-blue .button.button-active,
.md .color-theme-blue .button.button-fill,
.md .color-theme-blue .button.button-fill-md,
.md .color-theme-blue .button.tab-link-active,
.md .button.color-blue.button-active,
.md .button.color-blue.button-fill,
.md .button.color-blue.button-fill-md,
.md .button.color-blue.tab-link-active,
.md .swipeout-actions-left>a.color-blue,
.md .swipeout-actions-left>button.color-blue,
.md .swipeout-actions-left>div.color-blue,
.md .swipeout-actions-left>span.color-blue,
.md .swipeout-actions-right>a.color-blue,
.md .swipeout-actions-right>button.color-blue,
.md .swipeout-actions-right>div.color-blue,
.md .swipeout-actions-right>span.color-blue,
.md .icon-radio:after,
.md .radio input[type=radio]:checked~.icon-radio:after,
.md label.item-radio input[type=radio]:checked~* .icon-radio:after,
.md label.item-radio input[type=radio]:checked~.icon-radio:after,
.md .color-theme-blue .icon-radio:after,
.md .color-theme-blue .radio input[type=radio]:checked~.icon-radio,
.md .color-theme-blue label.item-radio input[type=radio]:checked~* .icon-radio,
.md .color-theme-blue label.item-radio input[type=radio]:checked~.icon-radio,
.md .color-theme-blue .radio input[type=radio]:checked~.icon-radio:after,
.md .color-theme-blue label.item-radio input[type=radio]:checked~* .icon-radio:after,
.md .color-theme-blue label.item-radio input[type=radio]:checked~.icon-radio:after,
.md .radio.color-blue .icon-radio:after,
.md .radio.color-blue input[type=radio]:checked~.icon-radio:after,
.md label.item-radio.color-blue input[type=radio]:checked~* .icon-radio:after,
.md label.item-radio.color-blue input[type=radio]:checked~.icon-radio:after,
.md .color-theme-blue .range-slider .range-bar-active,
.md .color-theme-blue .range-slider .range-knob,
.md .color-theme-blue .range-slider .range-knob-label,
.md .color-theme-blue .range-slider .range-knob-label:before,
.md .range-slider.color-blue .range-bar-active,
.md .range-slider.color-blue .range-knob,
.md .range-slider.color-blue .range-knob-label,
.md .range-slider.color-blue .range-knob-label:before
{ background-color: #003eff; }
.md .button.button-outline,
.md .segmented .button.button-outline
{ border: 1px solid #003eff; }
.md .color-blue .button.button-outline,
.md .color-theme-blue .button.button-outline,
.md .button.color-blue.button-outline,
.md .preloader.color-blue .preloader-inner-gap,
.md .preloader.color-blue .preloader-inner-half-circle,
.md .preloader.preloader-blue .preloader-inner-gap,
.md .preloader.preloader-blue .preloader-inner-half-circle,
.md .radio input[type=radio]:checked~.icon-radio,
.md label.item-radio input[type=radio]:checked~* .icon-radio,
.md label.item-radio input[type=radio]:checked~.icon-radio,
.md .radio.color-blue input[type=radio]:checked~.icon-radio,
.md label.item-radio.color-blue input[type=radio]:checked~* .icon-radio,
.md label.item-radio.color-blue input[type=radio]:checked~.icon-radio
{ border-color: #2196f3; }
.md .checkbox input[type=checkbox]:checked~i,
.md label.item-checkbox input[type=checkbox]:checked~* .icon-checkbox,
.md label.item-checkbox input[type=checkbox]:checked~.icon-checkbox,
.md .color-theme-blue .checkbox input[type=checkbox]:checked~i,
.md .color-theme-blue label.item-checkbox input[type=checkbox]:checked~* .icon-checkbox,
.md .color-theme-blue label.item-checkbox input[type=checkbox]:checked~.icon-checkbox,
.md .checkbox.color-blue input[type=checkbox]:checked~i,
.md label.item-checkbox.color-blue input[type=checkbox]:checked~* .icon-checkbox,
.md label.item-checkbox.color-blue input[type=checkbox]:checked~.icon-checkbox
{ background-color: #003eff; border-color: #2196f3; }
.md .bg-color-blue { background-color: #003eff !important; }
.md .border-color-blue { border-color: #003eff !important; }

.md .photo-browser-page .navbar,
.md .photo-browser-page .toolbar
{ background: #003eff; }
.md .color-blue .photo-browser-page:not(.photo-browser-page-dark) .navbar,
.md .color-blue .photo-browser-page:not(.photo-browser-page-dark) .toolbar,
.md .color-theme-blue .photo-browser-page:not(.photo-browser-page-dark) .navbar,
.md .color-theme-blue .photo-browser-page:not(.photo-browser-page-dark) .toolbar
{ background-color: #003eff; }
